::selection {
    color: red;
    background: yellow;
}

.foo {
    padding: 1rem;
    margin: 1rem;
    background-color: red;
    display: flex;
    box-sizing: border-box;
    position: sticky;
}

.foo:hover {
    color: yellow;
}
